<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Authentication</h1>

    <button id="signup-btn">SignUp</button>
    <button id="login-btn">Login</button>

    <script>
        const signButton = document.getElementById("signup-btn");
        const logButton = document.getElementById("login-btn");

        signButton.onclick = function(e){
            location.assign('/signup');
        };

        logButton.onclick = function(e){
            location.assign('/login');
        }

    </script>
</body>

</html>