<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <% if(!user) { %>
    <div class="container">
        <div class="wrapper">
            <h1 class="">Authentication</h1>
            <div class="content">
                    <div class="buttons">
                        <button id="login-btn" class="light">Log in</button>
                        <button id="signup-btn" class="dark">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else {%>
        <script>
            location.assign('/mainpage');
        </script>
    <%}%>
    <script>
        const signButton = document.getElementById("signup-btn");
        const logButton = document.getElementById("login-btn");

        signButton.onclick = function(e){
            location.assign('/signup');
        };

        logButton.onclick = function(e){
            location.assign('/login');
        }

    </script>
</body>

</html>